
/*color palette:
  background: #101419
  primary: #1B2F33
  secondary: #785964
  text: aliceblue
  accent:#A2AD59
*/

header{
  margin:0;
}

main{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.entrance{
  background-position: center;
  background-size: cover;
}

.overlay{
  width: 100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay h1{
  font-size: 60px;
  margin:0;
  letter-spacing: 0.4em;
  margin-top: 2em;
}

.overlay h3{
  margin-bottom:3em;
}


.collapsible {
  background-color:#101419;
  color: white;
  cursor: pointer;
  padding: 2em;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18px;
  font-family:'Sorts Mill Goudy';
}


.active,
.collapsible:hover {
  background-color: #20242a;
}

.content {
  padding: 1em;
  line-height:1.6;
  display: none;
  overflow: hidden;
  background-color: #32353b;
  font-size: 18px;
  text-align: justify;
}

