header{
  margin-bottom: 0;
}

.players {
  display: grid;
  grid-auto-rows: 18em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.player {
  border: 2px solid #785964;
  border-radius: 0.75rem;
  margin: 0.5em;
  text-align: center;
  background-position: center;
  background-size:cover;
}

.player a {
  color: white;
  padding: 0.5rem;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 55px;
  font-family:'Cinzel';
}

.section{ 
  margin:0 1em 1em 1em;
  border:3px solid #785964;
}


.overlay{
  width: 100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.elm {
  background-image:url("../img/elm.jpg");
}

.fillip {
  background-image:url("../img/fillip.jpg");
  background-position: top;
}

.killari {
  background-image:url("../img/killari.jpg");
  background-position: bottom;
}

.ricard {
  background-image:url("../img/ricard.jpg");
  background-position: top;
}

.sybella {
  background-image:url("../img/sybella.jpg");
}

.zippy {
  background-image:url("../img/ariadne.jpg");
}